* {
    box-sizing: border-box;
    font-family: "Fredoka";
    margin: 3% 5%;
}

.body{
    margin: 0px;
}

.flex-container{  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* div.flex-item{
    margin: 0px;
    padding: 0px;
} */
.flex-item{
    background-color: blue;
    flex: 1;
    display: inline-flex;
    margin: 20px;
}
.flex-item img{
    margin: 0;
}

.flex-container img{
    width: 100px;
}
.header{
    margin: auto;
    text-align: center;
}
